.container {
  position: relative;
	border:3px solid #3E4357;
	border-radius: 10px;
	width: 350px;
	height: 500px;
	display: flex;
	overflow: hidden;
}

.container > img {
  min-width: 100%;
  min-height: 100%;
  transition-duration: .8s;
}

.container > img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
