<div class="container">
  <app-card
  photoCover="assets/ac-cover.jpg"
  typePlay="Play it Now!"
  typeGame="Digital"
  allConsoles="| PS4 | PS Vita"
  price="79.99"
  >
  </app-card>
  <app-card
  photoCover="assets/bt-5.jpg"
  infoCard="Cross Buy"
  typePlay="Buy Now!"
  typeGame="Full Game"
  allConsoles="| PS4 | PS5"
  price="199.99"
  >
  </app-card>
  <app-card
  photoCover="assets/bt-bad-company-2.jpg"
  infoCard="Exclusive"
  typePlay="Play it Now!"
  typeGame="Digital Game"
  allConsoles="| PS4"
  price="109.99"
  >
  </app-card>
  <app-card
  photoCover="assets/bt-hardline.jpg"
  typePlay="Buy Now!"
  typeGame="Digital"
  allConsoles="| PS4 | PS3"
  price="259.99"
  >
  </app-card>
  <app-card
  photoCover="assets/bt-1.jpg"
  typePlay="Buy Now!"
  typeGame="Digital"
  allConsoles="| PS4 | PS3"
  price="99.99"
  >
  </app-card>
  <app-card
  infoCard="Cross Buy"
  photoCover="assets/bt-4.jpg"
  typePlay="Buy Now!"
  typeGame="FullGame"
  allConsoles="| PS4 | PS3 | PS Vita"
  price="115.99"
  >
  </app-card>
  <app-card
  photoCover="assets/bt-hardline.jpg"
  typePlay="Play It Now!"
  typeGame="Digital Game"
  allConsoles="| PS3 "
  price="59.99"
  >
  </app-card>
  <app-card
  photoCover="assets/ac-cover.jpg"
  infoCard="Exclusive"
  typePlay="Buy Now!"
  typeGame="Full Game"
  allConsoles="| PS4 | PS3"
  price="259.99"
  >
  </app-card>
</div>
